__pycache__/
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Virtual environments
.venv/
venv/

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.aider*
.opencode/
.agents/
skills-lock.json

*.pdf

# AI tools
.claude
.codex
.commandcode
.cursor
.opencode
